<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="row mt-3">

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[0].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[0].id %>"><div class="projetos-title">
                    <h5><%= projetos[0].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[1].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[1].id %>"><div class="projetos-title">
                    <h5><%= projetos[1].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
                <div class="projetos-card">
                    <img src="<%= projetos[2].imagens[0] %>" class="projetos-img img-fluid" alt="">
                    <a href="/projetos/<%= projetos[2].id %>"><div class="projetos-title">
                        <h5><%= projetos[2].nome %></h5>
                    </div></a>
                </div>
        </div>
            
        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[3].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[3].id %>"><div class="projetos-title">
                    <h5><%= projetos[3].nome %></h5>
                </div></a>
            </div>
        </div>

    </div>


    <div class="row mt-4">

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[4].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[4].id %>"><div class="projetos-title">
                    <h5><%= projetos[4].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[5].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[5].id %>"><div class="projetos-title">
                    <h5><%= projetos[5].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[6].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[6].id %>"><div class="projetos-title">
                    <h5><%= projetos[6].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[7].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[7].id %>"><div class="projetos-title">
                    <h5><%= projetos[7].nome %></h5>
                </div></a>
            </div>
        </div>

    </div>


    <div class="row mt-4">

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[8].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[8].id %>"><div class="projetos-title">
                    <h5><%= projetos[8].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[9].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[9].id %>"><div class="projetos-title">
                    <h5><%= projetos[9].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[10].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[10].id %>"><div class="projetos-title">
                    <h5><%= projetos[10].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[11].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[11].id %>"><div class="projetos-title">
                    <h5><%= projetos[11].nome %></h5>
                </div></a>
            </div>
        </div>

    </div>

    <div class="row mt-4 mb-3">

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[12].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[12].id %>"><div class="projetos-title">
                    <h5><%= projetos[12].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[13].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[13].id %>"><div class="projetos-title">
                    <h5><%= projetos[13].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[14].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[14].id %>"><div class="projetos-title">
                    <h5><%= projetos[14].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[15].imagens[0] %>" class="projetos-img img-fluid" alt="">
                <a href="/projetos/<%= projetos[15].id %>"><div class="projetos-title">
                    <h5><%= projetos[15].nome %></h5>
                </div></a>
            </div>
        </div>

    </div>

    <hr>
    <footer class="p-5 d-flex justify-content-center">
        <big><a href="https://instagram.com/agralemosarquitetos" class="text-dark p-2"><i class="uil uil-instagram"></i></big>
        <big><a href="https://facebook.com/agralemos" class="text-dark p-2</a>"><i class="uil uil-facebook-f"></i></big>
    </footer>
</div></a>