<% layout('layouts/boilerplate') %>

<script>
    const lazyLoad = () => {
    const listaElementos = document.querySelectorAll('[data]')

    listaElementos.forEach((elemento) => {
        if(elemento.getBoundingClientRect().top < window.innerHeight){
            elemento.src = elemento.getAttribute('data')
            elemento.removeAttribute('data')
        }
    })
    }
    window.onscroll = () => {
        lazyLoad()
    }

</script>

<div class="container">
    <div class="row mt-3">

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[0].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[0].nome %>">
                <a href="/projetos/<%= projetos[0].id %>"><div class="projetos-title">
                    <h5><%= projetos[0].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[1].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[1].nome %>">
                <a href="/projetos/<%= projetos[1].id %>"><div class="projetos-title">
                    <h5><%= projetos[1].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
                <div class="projetos-card">
                    <img src="<%= projetos[2].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[2].nome %>">
                    <a href="/projetos/<%= projetos[2].id %>"><div class="projetos-title">
                        <h5><%= projetos[2].nome %></h5>
                    </div></a>
                </div>
        </div>
            
        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[3].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[3].nome %>">
                <a href="/projetos/<%= projetos[3].id %>"><div class="projetos-title">
                    <h5><%= projetos[3].nome %></h5>
                </div></a>
            </div>
        </div>

    </div>


    <div class="row mt-4">

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[4].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[4].nome %>">
                <a href="/projetos/<%= projetos[4].id %>"><div class="projetos-title">
                    <h5><%= projetos[4].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[5].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[5].nome %>">
                <a href="/projetos/<%= projetos[5].id %>"><div class="projetos-title">
                    <h5><%= projetos[5].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[6].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[6].nome %>">
                <a href="/projetos/<%= projetos[6].id %>"><div class="projetos-title">
                    <h5><%= projetos[6].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[7].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[7].nome %>">
                <a href="/projetos/<%= projetos[7].id %>"><div class="projetos-title">
                    <h5><%= projetos[7].nome %></h5>
                </div></a>
            </div>
        </div>

    </div>


    <div class="row mt-4">

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[8].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[8].nome %>">
                <a href="/projetos/<%= projetos[8].id %>"><div class="projetos-title">
                    <h5><%= projetos[8].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[9].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[9].nome %>">
                <a href="/projetos/<%= projetos[9].id %>"><div class="projetos-title">
                    <h5><%= projetos[9].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[10].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[10].nome %>">
                <a href="/projetos/<%= projetos[10].id %>"><div class="projetos-title">
                    <h5><%= projetos[10].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img src="<%= projetos[11].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[11].nome %>">
                <a href="/projetos/<%= projetos[11].id %>"><div class="projetos-title">
                    <h5><%= projetos[11].nome %></h5>
                </div></a>
            </div>
        </div>

    </div>

    <div class="row mt-4 mb-3">

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img data="<%= projetos[12].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[12].nome %>">
                <a href="/projetos/<%= projetos[12].id %>"><div class="projetos-title">
                    <h5><%= projetos[12].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img data="<%= projetos[13].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[13].nome %>">
                <a href="/projetos/<%= projetos[13].id %>"><div class="projetos-title">
                    <h5><%= projetos[13].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img data="<%= projetos[14].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[14].nome %>">
                <a href="/projetos/<%= projetos[14].id %>"><div class="projetos-title">
                    <h5><%= projetos[14].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img data="<%= projetos[15].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[15].nome %>">
                <a href="/projetos/<%= projetos[15].id %>"><div class="projetos-title">
                    <h5><%= projetos[15].nome %></h5>
                </div></a>
            </div>
        </div>

    </div>

    <div class="row mt-4 mb-3">

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img data="<%= projetos[16].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[16].nome %>">
                <a href="/projetos/<%= projetos[16].id %>"><div class="projetos-title">
                    <h5><%= projetos[16].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img data="<%= projetos[17].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[17].nome %>">
                <a href="/projetos/<%= projetos[17].id %>"><div class="projetos-title">
                    <h5><%= projetos[17].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img data="<%= projetos[18].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[18].nome %>">
                <a href="/projetos/<%= projetos[18].id %>"><div class="projetos-title">
                    <h5><%= projetos[18].nome %></h5>
                </div></a>
            </div>
        </div>

        <div class="col-md-3 col-12">
            <div class="projetos-card">
                <img data="<%= projetos[19].imagens[0] %>" class="projetos-img img-fluid" alt="<%= projetos[19].nome %>">
                <a href="/projetos/<%= projetos[19].id %>"><div class="projetos-title">
                    <h5><%= projetos[19].nome %></h5>
                </div></a>
            </div>
        </div>

    </div>

    <hr>
    <footer class="p-5 d-flex justify-content-center">
        <big><a href="https://instagram.com/agralemosarquitetos" class="text-dark p-2"><i class="uil uil-instagram"></i></big>
        <big><a href="https://facebook.com/agralemos" class="text-dark p-2</a>"><i class="uil uil-facebook-f"></i></big>
    </footer>
</div></a>